.App {
  text-align: center;
  min-height: 100vh; 
  margin: 0; 
  background-color: #F8F8F8;
  
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.buttons > button {
  padding: 2em;
  margin: 1.5em;
}

.main-page {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  width: 70%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 10px #C0C0C0;
  box-shadow: 0 0 10px #C0C0C0;
}

.weather-today {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  background-color: #679289;
  border-radius: 2em;
  color: #f4c095;
  box-shadow: 0 0 10px #C0C0C0;
  box-shadow: 0 0 10px #C0C0C0;
  font-size: 1.5em;
}

.weather-show {
}

.single-day-weather {
  padding: 2em;
  border-radius: 2em;
  
}

.next-week-weather {
  display: flex;
  justify-content: center;
}

.endblank {
  height: 5%;
}
